<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2021 | Kayley Syrett |
        22027978 |
        | Razor Contoso |
        C0550 Web Applications
        <br />
        <a asp-area="" asp-controller="home" asp-action="Privacy">Privacy</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
    </div>
</footer>
